# 
# ~/.gitconfig
# 

[user]
	name  = Malte Bublitz
	email = malte@rolltreppe3.de
	signingkey = 605DA5C729F9C184
	
[alias]
	c         = clone
	origin    = config --get remote.origin.url
	a         = add
	d         = diff
	ds        = diff --staged
	st        = status
	co        = commit -S -m
	cfg       = config --global --list
	tree      = log --graph --decorate --pretty=oneline --abbrev-commit --all
	tree-full = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	
[pull]
	rebase = false
	
[init]
	defaultBranch = main
	
[filter "lfs"]
	clean    = git-lfs clean -- %f
	smudge   = git-lfs smudge -- %f
	process  = git-lfs filter-process
	required = true
	
[status]
	submoduleSummary = true
	
[core]
	excludesfile = ~/.gitignore_global
	
[commit]
	template = ~/.gitmessage

[cola]
	spellcheck = false

# https://github.com/dandavison/delta
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[add.interactive]
	useBuiltin = false # required for git 2.37.0
[delta]
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	line-numbers = true
	# https://dandavison.github.io/delta/side-by-side-view.html
	#side-by-side = true
	#line-numbers-left-format = ""
	#line-numbers-right-format = "│ "
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default

# 
# Support local overrides using ~/.gitconfig.local
# 
[include]
	path = .gitconfig.local

