# 
# ~/.gitconfig
# 

[user]
	name  = Malte Bublitz
	email = malte@rolltreppe3.de
	
[alias]
	c         = clone
	st        = status
	tree      = log --graph --decorate --pretty=oneline --abbrev-commit --all
	tree-full = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	
[pull]
	rebase = false
