/*
!.abcde.conf
!.bashrc
!.bash_profile
!.bash_aliases
!.config/uzbl/**
!.config/cheat/**
!.gitconfig
!.gitconfig.delta
!.gitignore
!.ncmpcpp/config
!.vimrc
!.vim/
!.vim/**
/.vim/backups/**
!.zshrc
!.zlogout
!.zshenv
!.zsh/
!.zsh/**
/.zsh/histfile
!.Xmodmap
!LICENSE
!README.md
