/*
!.abcde.conf
!.bashrc
!.bash_profile
!.config/uzbl/*
!.gitconfig
!.gitignore
!.ncmpcpp/config
!.vimrc
!.vim/
!.vim/**
/.vim/backups/**
!.zshrc
!.zshenv
!.zsh/
!.zsh/**
/.zsh/histfile
!.Xmodmap
!LICENSE
!README.md
