*
!.abcde.conf
!.bashrc
!.bash_profile
!.config/uzbl/*
!.conkyrc
!.conkyrc_bottom_left
!.conkyrc_top_right
!.gitconfig
!.gitignore
!.ncmpcpp/config
!.vimrc
!.vim/*
!.zshrc
!.zshenv
!.zsh/*
!.Xmodmap
!.Xmodmap-macbook
!COPYING.md
!README.md
